@media screen {
  section{
    margin: 0 0rem;
  }
  .about-containers{
    margin-top: 20px;
  }
  button{
    font-size: 18px;
    padding: 10px;
  }
  .details-container {
    padding: 20px;
  }
  .petiteImage img {
    width: 250px;
    height: 160px;
  }  
}

@media screen and (max-width: 1920px) {
  section{
    margin: 0 6rem;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 70vh;
    margin-bottom: 6rem;
  }
  section{
    margin: 0 2rem;
  }
  .about-containers {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  button{
    font-size: 16px;
    padding: 10px;
  }
  .petiteImage img {
    width: 200px;
    height: 135px;
  }  
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
    margin: 0 5px;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  button{
    font-size: 16px;
    padding: 6px;
  }
  .details-container {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  section{
    margin: 0;
  }
  .about-containers{
    margin-top: 0;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .section-container{
    width: 98%;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  button{
    font-size: 16px;
    padding: 4px;
  }
  
  .projetsContainer {
    padding: 10px;
  }

  .stagesContainer {
    display: block !important;
    padding: 10px;
  }

  .stagesContainer img{
    width: 150px !important;
    margin-bottom: 5px !important;
  }

  .stagesContainer .details-container{
    margin-bottom: 15px !important;
  }
  .w3-container p{
    padding: 6px;
    font-size: 14px;
  }
  .petiteImage img {
    width: 100px;
    height: 90px;
  }  
}